<!-- views/watchlists/show.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/stylesheets/style.css" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= watchlist.owner.username %>'s watchlist</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-page-container">
        <div class="show-img"></div>
            <div class="show-info-container">
                 <div class="show-header">

                    <h1>A watchlist for <%= watchlist.title %></h1>

                    <h2>Details</h2>
                    <p>Description: <%= watchlist.description %></p>
                    <p>Rating: <%= watchlist.rating %></p>
                    <p>Episode Count: <%= watchlist.episodeCount %></p>
                    <img src="<%= watchlist.image %>"/>
                    <p>Status: <%= watchlist.status %></p>
                    <div class="owner-container"></div>
                        <% if (watchlist.owner._id.equals(user._id)) { %>
                        <a href="/watchlists/<%= watchlist._id %>/edit" class="button">Edit this watchlist</a>
                        <form action="/watchlists/<%= watchlist._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete this watchlist.</button>   
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>